DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
FLW_SECRET_KEY=
FLW_PUBLIC_KEY=
FLW_WEBHOOK_HASH=
NEXT_PUBLIC_FLW_PUBLIC_KEY=
NEXT_PUBLIC_API_URL=
NODE_ENV=development
